doctype html
html
    head
        meta(charset="UTF-8")
        title Panama Bank Customer service
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="/javascripts/socket.io.js")
    body
        block content
